BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 80
UseTab: Never

SortIncludes: false

Language: Cpp

IndentPPDirectives: AfterHash

# IndentAccessModifiers: true
AccessModifierOffset: -3

NamespaceIndentation: Inner

AlignConsecutiveAssignments: true
AlignConsecutiveMacros: true
AlignConsecutiveDeclarations: true
AlignEscapedNewlines: Left
AlignTrailingComments: true
AlignOperands: true
IndentPPDirectives: None
